<header role="banner" class="site-header">
		
			<div id="logo" itemscope="" itemtype="http://schema.org/Organization">
				<meta itemprop="name" content="Foundation Theme Demo">
								<a itemprop="url" href="/" title=""><h1>classhub</h1></a>
			</div><!-- #logo -->

			<div class="wrapper-header">
			
				<div class="wrapper-menu">
	
			        			        <div class="navbar-header"><div class="slicknav_menu"><a href="#" aria-haspopup="true" role="button" tabindex="0" class="slicknav_btn slicknav_collapsed" style="outline: none;"><span class="slicknav_menutxt">MENU</span><span class="slicknav_icon"><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span><span class="slicknav_icon-bar"></span></span></a><div class="slicknav_nav slicknav_hidden" aria-hidden="true" role="menu" style="display: none;"><ul class="menu"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-272"><a href="https://demo.academiathemes.com/foundation/" role="menuitem">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-283 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://demo.academiathemes.com/foundation/academy/">About Academy</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="https://demo.academiathemes.com/foundation/academy/choose-academy/" role="menuitem" tabindex="-1">Why Choose Academy</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286"><a href="https://demo.academiathemes.com/foundation/academy/mission-profile/" role="menuitem" tabindex="-1">Mission and Profile</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="https://demo.academiathemes.com/foundation/academy/core-curriculum/" role="menuitem" tabindex="-1">Core Curriculum</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="https://demo.academiathemes.com/foundation/academy/community-engagement/" role="menuitem" tabindex="-1">Community engagement</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-292 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://demo.academiathemes.com/foundation/blog-archives/">Blog Archives</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-277"><a href="https://demo.academiathemes.com/foundation/category/news-announcements/" role="menuitem" tabindex="-1">News &amp; Announcements</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-279"><a href="https://demo.academiathemes.com/foundation/category/sample-category/" role="menuitem" tabindex="-1">Sample Category</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-278"><a href="https://demo.academiathemes.com/foundation/category/videos/" role="menuitem" tabindex="-1">Videos</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-293 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="https://demo.academiathemes.com/foundation/courses/">Courses</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-274"><a href="https://demo.academiathemes.com/foundation/course-type/postgraduate/" role="menuitem" tabindex="-1">Postgraduate</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-275"><a href="https://demo.academiathemes.com/foundation/course-type/short-courses/" role="menuitem" tabindex="-1">Short Courses</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-276"><a href="https://demo.academiathemes.com/foundation/course-type/undergraduate/" role="menuitem" tabindex="-1">Undergraduate</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="https://demo.academiathemes.com/foundation/staff-directory/" role="menuitem">Staff Directory</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="https://demo.academiathemes.com/foundation/testimonials/" role="menuitem">Testimonials</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-273 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Events</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="https://demo.academiathemes.com/foundation/events-future/" role="menuitem" tabindex="-1">Events: Future</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="https://demo.academiathemes.com/foundation/events-past-2/" role="menuitem" tabindex="-1">Events: Past</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="https://demo.academiathemes.com/foundation/photo-gallery/" role="menuitem">Photo Gallery</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-317 slicknav_collapsed slicknav_parent"><a href="#" role="menuitem" aria-haspopup="true" tabindex="-1" class="slicknav_item slicknav_row" style="outline: none;"><a href="#">Page Templates</a>
<span class="slicknav_arrow">►</span></a><ul class="sub-menu slicknav_hidden" role="menu" aria-hidden="true" style="display: none;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://demo.academiathemes.com/foundation/blog-archives/" role="menuitem" tabindex="-1">Blog Archives</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://demo.academiathemes.com/foundation/courses/" role="menuitem" tabindex="-1">Courses</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="https://demo.academiathemes.com/foundation/events-future/" role="menuitem" tabindex="-1">Events: Future</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327"><a href="https://demo.academiathemes.com/foundation/full-width-page/" role="menuitem" tabindex="-1">Full Width Page</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="https://demo.academiathemes.com/foundation/academy/" role="menuitem" tabindex="-1">Page with Sub-Pages</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="https://demo.academiathemes.com/foundation/photo-gallery/" role="menuitem" tabindex="-1">Photo Gallery</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="https://demo.academiathemes.com/foundation/staff-directory/" role="menuitem" tabindex="-1">Staff Directory</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a href="https://demo.academiathemes.com/foundation/testimonials/" role="menuitem" tabindex="-1">Testimonials</a></li>
</ul>
</li>
</ul></div></div>

						<div id="menu-main-slick" class="menu-main-container"><ul id="menu-slide-in" class="menu"><li id="menu-item-272" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-272"><a href="https://demo.academiathemes.com/foundation/">Home</a></li>
<li id="menu-item-283" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-283"><a href="https://demo.academiathemes.com/foundation/academy/">About Academy</a>
<ul class="sub-menu">
	<li id="menu-item-287" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="https://demo.academiathemes.com/foundation/academy/choose-academy/">Why Choose Academy</a></li>
	<li id="menu-item-286" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286"><a href="https://demo.academiathemes.com/foundation/academy/mission-profile/">Mission and Profile</a></li>
	<li id="menu-item-284" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="https://demo.academiathemes.com/foundation/academy/core-curriculum/">Core Curriculum</a></li>
	<li id="menu-item-285" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="https://demo.academiathemes.com/foundation/academy/community-engagement/">Community engagement</a></li>
</ul>
</li>
<li id="menu-item-292" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-292"><a href="https://demo.academiathemes.com/foundation/blog-archives/">Blog Archives</a>
<ul class="sub-menu">
	<li id="menu-item-277" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-277"><a href="https://demo.academiathemes.com/foundation/category/news-announcements/">News &amp; Announcements</a></li>
	<li id="menu-item-279" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-279"><a href="https://demo.academiathemes.com/foundation/category/sample-category/">Sample Category</a></li>
	<li id="menu-item-278" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-278"><a href="https://demo.academiathemes.com/foundation/category/videos/">Videos</a></li>
</ul>
</li>
<li id="menu-item-293" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-293"><a href="https://demo.academiathemes.com/foundation/courses/">Courses</a>
<ul class="sub-menu">
	<li id="menu-item-274" class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-274"><a href="https://demo.academiathemes.com/foundation/course-type/postgraduate/">Postgraduate</a></li>
	<li id="menu-item-275" class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-275"><a href="https://demo.academiathemes.com/foundation/course-type/short-courses/">Short Courses</a></li>
	<li id="menu-item-276" class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-276"><a href="https://demo.academiathemes.com/foundation/course-type/undergraduate/">Undergraduate</a></li>
</ul>
</li>
<li id="menu-item-294" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="https://demo.academiathemes.com/foundation/staff-directory/">Staff Directory</a></li>
<li id="menu-item-295" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="https://demo.academiathemes.com/foundation/testimonials/">Testimonials</a></li>
<li id="menu-item-273" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-273"><a href="#">Events</a>
<ul class="sub-menu">
	<li id="menu-item-296" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="https://demo.academiathemes.com/foundation/events-future/">Events: Future</a></li>
	<li id="menu-item-297" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="https://demo.academiathemes.com/foundation/events-past-2/">Events: Past</a></li>
</ul>
</li>
<li id="menu-item-306" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="https://demo.academiathemes.com/foundation/photo-gallery/">Photo Gallery</a></li>
<li id="menu-item-317" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-317"><a href="#">Page Templates</a>
<ul class="sub-menu">
	<li id="menu-item-318" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://demo.academiathemes.com/foundation/blog-archives/">Blog Archives</a></li>
	<li id="menu-item-319" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://demo.academiathemes.com/foundation/courses/">Courses</a></li>
	<li id="menu-item-320" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="https://demo.academiathemes.com/foundation/events-future/">Events: Future</a></li>
	<li id="menu-item-327" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327"><a href="https://demo.academiathemes.com/foundation/full-width-page/">Full Width Page</a></li>
	<li id="menu-item-328" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="https://demo.academiathemes.com/foundation/academy/">Page with Sub-Pages</a></li>
	<li id="menu-item-321" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="https://demo.academiathemes.com/foundation/photo-gallery/">Photo Gallery</a></li>
	<li id="menu-item-322" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="https://demo.academiathemes.com/foundation/staff-directory/">Staff Directory</a></li>
	<li id="menu-item-323" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a href="https://demo.academiathemes.com/foundation/testimonials/">Testimonials</a></li>
</ul>
</li>
</ul></div>
			        </div><!-- .navbar-header -->
			        
					<nav id="site-navigation" role="navigation">
						
						<ul id="menu-main-menu" class="dropdown sf-js-enabled"><li class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-272"><a href="https://demo.academiathemes.com/foundation/">Home</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-283"><a href="https://demo.academiathemes.com/foundation/academy/" class="sf-with-ul">About Academy<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-287"><a href="https://demo.academiathemes.com/foundation/academy/choose-academy/">Why Choose Academy</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-286"><a href="https://demo.academiathemes.com/foundation/academy/mission-profile/">Mission and Profile</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-284"><a href="https://demo.academiathemes.com/foundation/academy/core-curriculum/">Core Curriculum</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-285"><a href="https://demo.academiathemes.com/foundation/academy/community-engagement/">Community engagement</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-292"><a href="https://demo.academiathemes.com/foundation/blog-archives/" class="sf-with-ul">Blog Archives<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-277"><a href="https://demo.academiathemes.com/foundation/category/news-announcements/">News &amp; Announcements</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-279"><a href="https://demo.academiathemes.com/foundation/category/sample-category/">Sample Category</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-278"><a href="https://demo.academiathemes.com/foundation/category/videos/">Videos</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-293"><a href="https://demo.academiathemes.com/foundation/courses/" class="sf-with-ul">Courses<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-274"><a href="https://demo.academiathemes.com/foundation/course-type/postgraduate/">Postgraduate</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-275"><a href="https://demo.academiathemes.com/foundation/course-type/short-courses/">Short Courses</a></li>
	<li class="menu-item menu-item-type-taxonomy menu-item-object-course-type menu-item-276"><a href="https://demo.academiathemes.com/foundation/course-type/undergraduate/">Undergraduate</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-294"><a href="https://demo.academiathemes.com/foundation/staff-directory/">Staff Directory</a></li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-295"><a href="https://demo.academiathemes.com/foundation/testimonials/">Testimonials</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-273"><a href="#" class="sf-with-ul">Events<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-296"><a href="https://demo.academiathemes.com/foundation/events-future/">Events: Future</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-297"><a href="https://demo.academiathemes.com/foundation/events-past-2/">Events: Past</a></li>
</ul>
</li>
<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-306"><a href="https://demo.academiathemes.com/foundation/photo-gallery/">Photo Gallery</a></li>
<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-317"><a href="#" class="sf-with-ul">Page Templates<span class="sf-sub-indicator"> »</span></a>
<ul class="sub-menu" style="display: none; visibility: hidden;">
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-318"><a href="https://demo.academiathemes.com/foundation/blog-archives/">Blog Archives</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-319"><a href="https://demo.academiathemes.com/foundation/courses/">Courses</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-320"><a href="https://demo.academiathemes.com/foundation/events-future/">Events: Future</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-327"><a href="https://demo.academiathemes.com/foundation/full-width-page/">Full Width Page</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-328"><a href="https://demo.academiathemes.com/foundation/academy/">Page with Sub-Pages</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-321"><a href="https://demo.academiathemes.com/foundation/photo-gallery/">Photo Gallery</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-322"><a href="https://demo.academiathemes.com/foundation/staff-directory/">Staff Directory</a></li>
	<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-323"><a href="https://demo.academiathemes.com/foundation/testimonials/">Testimonials</a></li>
</ul>
</li>
</ul>					
						<div class="cleaner">&nbsp;</div>
						
					</nav><!-- #site-navigation -->
					
					<div class="cleaner">&nbsp;</div>
	
				</div><!-- .wrapper-menu -->
				
				<div class="widget academia-contacts" id="academia-widget-contacts-2"><p class="title-s title-widget">Contact Us</p>
		<ul class="academia-contacts">
			<li class="academia-contact"><img src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/x.gif" width="16" height="18" alt="" class="academia-sprite-contact academia-contact-marker"><span class="academia-contact-value">24, Lower Regent Street, Vienna</span></li><!-- .academia-contact --><li class="academia-contact"><img src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/x.gif" width="16" height="18" alt="" class="academia-sprite-contact academia-contact-phone"><span class="academia-contact-value">1-800-123-4567</span></li><!-- .academia-contact --><li class="academia-contact"><img src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/x.gif" width="16" height="18" alt="" class="academia-sprite-contact academia-contact-fax"><span class="academia-contact-value">1-800-123-7654</span></li><!-- .academia-contact --><li class="academia-contact"><img src="https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/images/x.gif" width="16" height="18" alt="" class="academia-sprite-contact academia-contact-email"><span class="academia-contact-value"><a href="mailto:apply@academiathemes.com">apply@academiathemes.com</a></span></li><!-- .academia-contact -->		</ul><!-- .academia-contacts -->

		<div class="cleaner">&nbsp;</div></div>
				<div id="footer-copy">
				
					<div class="wrapper-footer-copy">
					

									
						<div class="cleaner">&nbsp;</div>
					
					</div><!-- .wrapper .wrapper-footer-copy -->
				
				</div><!-- #footer-copy -->
				
			</div><!-- .wrapper-header -->
		
		</header>