<section class="widget cb_login">
<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-12 cell">
        <label>Email
          <input type="text" placeholder=".medium-6.cell">
        </label>
      </div>
      <div class="medium-12 cell">
        <label>Password
          <input type="text" placeholder=".medium-6.cell">
        </label>
      </div>
    </div>
  </div>
</form>
</section>