<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Home Page</title>
</head>

<body>

</body>

</html>

<!DOCTYPE html>

<html lang="en-US">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	
	<title>classHub</title>

<meta name="description" content=""/>
<meta name="robots" content="noindex,follow"/>
<link rel="next" href="https://demo.academiathemes.com/foundation/page/2/" />
<script type='application/ld+json'>{"@context":"https:\/\/schema.org","@type":"WebSite","@id":"#website","url":"https:\/\/demo.academiathemes.com\/foundation\/","name":"Foundation Theme Demo","potentialAction":{"@type":"SearchAction","target":"https:\/\/demo.academiathemes.com\/foundation\/?s={search_term_string}","query-input":"required name=search_term_string"}}</script>
<!-- / Yoast SEO plugin. -->

<link rel='dns-prefetch' href='//fonts.googleapis.com' />
<link rel="alternate" type="application/rss+xml" title="Foundation Theme Demo &raquo; Feed" href="https://demo.academiathemes.com/foundation/feed/" />
<link rel="alternate" type="application/rss+xml" title="Foundation Theme Demo &raquo; Comments Feed" href="https://demo.academiathemes.com/foundation/comments/feed/" />
<link rel='stylesheet' id='foundation-style-css'  href='https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/style.css?ver=4.9.8' type='text/css' media='all' />
<link rel='stylesheet' id='thickbox.css-css'  href='https://demo.academiathemes.com/foundation/wp-includes/js/thickbox/thickbox.css' type='text/css' media='all' />
<link rel='stylesheet' id='academia-webfonts-css'  href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700' type='text/css' media='all' />
<script>if (document.location.protocol != "https:") {document.location = document.URL.replace(/^http:/i, "https:");}</script><script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/js/superfish.js'></script>
<script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/js/jquery.slicknav.min.js'></script>
<script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/js/jquery.flexslider-min.js'></script>
<script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-content/themes/foundation2/js/scripts.js'></script>
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://demo.academiathemes.com/foundation/wp-includes/wlwmanifest.xml" />
<style type="text/css"></style>


</head>

<body>

   {{{body}}}


   <script type='text/javascript'>
   /* <![CDATA[ */
   var thickboxL10n = {"next":"Next >","prev":"< Prev","image":"Image","of":"of","close":"Close","noiframes":"This feature requires inline frames. You have iframes disabled or your browser does not support them.","loadingAnimation":"https:\/\/demo.academiathemes.com\/foundation\/wp-includes\/js\/thickbox\/loadingAnimation.gif"};
   /* ]]> */
   </script>
   <script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-includes/js/thickbox/thickbox.js?ver=3.1-20121105'></script>
   <script type='text/javascript' src='https://demo.academiathemes.com/foundation/wp-includes/js/wp-embed.min.js?ver=4.9.8'></script>
</body>
</html>
